// https://fontawesome.com/icons?d=gallery
link(rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	crossorigin="anonymous")

// https://github.com/ionic-team/ionicons
link(href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css"
	rel="stylesheet")

// https://google.github.io/material-design-icons/
link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet")

// https://github.com/feathericons/feather#feather
script(src="https://unpkg.com/feather-icons")

// https://github.com/amitjakhu/dripicons
// http://glyph.smarticons.co/

link(href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet")
